body {
    /* background-color: black; */
    margin: 0;
    padding: 0;
}

.link {
    /* background-color: #1098F7;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px; */

    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
} 

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 800;
    background-color: #1098f7;
    padding: 15px;
    border-radius: 30px;
}

a:hover{
    background-color: white;
    color: #1098f7;
    border: 1px solid #1098F7;
}

h1 {
    text-align: center;
    background-color: rgb(173, 173, 173);
}

h3{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

img{
    /* border-radius: 50%; */
    margin-left: 20px;
    margin-right: auto;
    /* border: 10px solid #1098F7; */
    float: left;
    padding: 50px;
    background-color: #1098F7;
}

.texto-principal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-right: 10px;
    
    color: white;
    float: right;
    width: 60%;
    color: black;
    vertical-align: middle;
    line-height: 3em;

}

.habilidades{
    color: rgb(2, 2, 2);
    margin: 0px 50px;
    line-height: 2em;

}

#habilidades-header{
    color: rgb(2, 2, 2);
    margin-top: 480px;
}


.habilidades-principais{
    font-size: 25px;
}

.ps{
    font-size: 13px;
}

.destaque{
    background-color: white;
    color: black;
}
